/*---------- Loading Syles ------------*/
.no-visible{
  display: none !important;
}

.background-loading{
  background-color: rgba(255,255,255,0.8);
  height: 100% !important;
  width: 100%;
  position: absolute !important;
  z-index: 9999;
}

.spinner {
  width: 80px !important;
  height: 80px !important;
  left: calc(50% - 40px) !important;
  background-color: rgb(0, 119, 217);
  border-radius: 100%;
  z-index: 9999;
  position: absolute !important;
  top: calc(50% - 40px) !important;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/*Estilos para la notificacion*/

#ventana_notificaciones {
    position: absolute;
    z-index: 10004;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 300px;
    height: 190px;
    margin: auto;
    transition: opacity .4s;
    transition-delay: .1s;
    opacity: 1;
    border-radius: 5px;
    background: white;
    box-shadow: 0 10px 20px rgba(180,180,180,0.19), 0 6px 6px rgba(200,200,200,0.23);
}

#notificaciones_encabezado {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgb(217,93,107);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notificaciones_encabezado_ok {
    background: rgb(0, 117, 219) !important;
}

#notificaciones_encabezado h1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-weight: 500 !important;
}

.informacion_notificacion {
    position: relative;
    top: 60px;
    box-sizing: border-box;
    height: 75px;
    padding: 0px 20px 0 20px;
    text-align: center;
}

.informacion_notificacion_prompt {
    position: relative;
    top: 60px;
    box-sizing: border-box;
    height: 75px;
    padding: 0px 20px 0 20px;
    text-align: center;
}

.informacion_notificacion p {
    font-size: 0.95em;
    line-height: 18px;
    padding-top: 25px;
    letter-spacing: 0.4px;
    color: #333E50;
    font-weight: 400;
}

.informacion_notificacion_prompt p {
    font-size: 0.95em;
    line-height: 18px;
    padding-top: 13px;
    letter-spacing: 0.4px;
    color: #333E50;
    font-weight: 400;
}

.pie_notificaciones_general {
    position: relative;
    top: 60px;
    overflow-y: auto;
    width: 100%;
    height: 55px;
    margin: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: transparent;
}

.guardar_btn {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 200px;
    height: 34px;
    margin: auto !important;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    border: none;
    background: rgb(217,93,107);
    border-radius: 4px;
    outline: none;
    line-height: 35px;
    font-size: 11px;
    font-weight: 600;
    font-size: 1em;
    font-weight: normal;
}

.guardar_btn:hover{
    opacity: 0.8;
}

.guardar_btn_ok{
  background: rgb(0, 117, 219) !important;
  line-height: 35px;
  font-size: 1em;
}

.guardar_btn_ok:hover{
    opacity: 0.8;
}

.div5 {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 1%;
    width: 40.65%;
}
